#svg{
    animation: transform 3s linear infinite;
}

@keyframes transform {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
    }
    
}
